<% title [@page.title, "一店一宝，淘宝网店推广助手"].join(' - ') %>
<% meta_keywords [@page.meta_keywords, "一店一宝，淘宝网店推广助手"].join(' - ') %>
<% meta_description [@page.meta_description, "一店一宝，淘宝网店推广助手"].join(' - ') %>

<div id="page">
  <%#= @page.body.html_safe unless @page.body.blank?%>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <% if ["about", "service_more"].include?(@page.path_name) %> 
    <%= @page.body.to_s.gsub(/^<br\/>|<p>/, '').html_safe unless @page.body.blank?%>
  <% else %>
    <%= simple_format @page.body.to_s.gsub(/^<br\/>|<p>/, '').html_safe unless @page.body.blank?%>
  <% end %>
</div>

<%= render :partial => 'layouts/bshare' %>
