<% unless is_mobile_agent? %>
<div id="foot">
  <div class="footsum">
   <p class="p2"><a href="/contact">意见反馈</a><a href="/contact">	店铺投诉</a>	<a href="/pages/shequ service">社区服务中心</a></p>
   <p>VERSION: 1.0.0-test ·YidianYibao.COM · 蜀ICP备09007255号</p>
   <p>Done is better than perfect · 推荐淘宝好店铺的网站</p>
    <div class="f_logo"><a href="#"><img src="/assets/logo2.jpg" alt="1店1宝" /></a></div>
  </div>
</div>
<% end %>