<div id="top">
  <div id="head">
    <h1 id="logo"><a href="/"><img src="/assets/logo.jpg" alt="1店1宝" /></a></h1>
    <form action="" method="get" id="search">
      <input name="" type="text" class="input" />
      <a href="#" class="ico"><img src="/assets/ico3.jpg" /></a>
    </form>
  </div>
</div>