<!DOCTYPE html> 
<html> 
<head>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "content_default", "product_item" %>
  <%= csrf_meta_tags %>
</head> 
 
<body style="overflow: hidden;">
  <%= yield %>
</body>
</html>